html {
    background: #f7f7f7;
}
body {
    background: white;
    /* max-width: 80vw; */
    margin: 0 auto;
    font-family: 'Barlow', sans-serif;
    color: rgb(49, 46, 46);
    text-align: center;
}



header, footer {
    background: #676a6d;
    color: white;
    padding: 20px 10px
}

input[type="search"] {
    width: 100%;
}

footer > nav {
        vertical-align: relative;
        padding: 10px;
        margin-top: 20px;
}

.product {
    box-sizing: border-box;
    border: 1px solid grey;
    /* width: 30%; */
    margin: 5px;
    padding: 5px;
    /* display: inline-block; */
    text-align: center;
    width: 100%;
    
    }



img {
    max-width: 100%;
}

/* main {
    width: 68%;
    display: inline-block;
    padding: 10px;
    
    } */

/* aside {
    width: 27%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    background-color: rgb(110, 95, 124);
} */

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0e69e9;
}

header li {
    display: inline;
}

header h1, nav {
    display: inline-block;
}

header h1 {
    /* width: 70% */
    width: 100%;
}



.button {
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.button:last-of-type {
    background: #0e69e9;
    color: white;
}


/* Product Detail Page */

.product-detail {
    width: 660px;

}

.product-detail > a {
    text-align: center;
}

.product-detail img {
    max-width: 50%;
    float: left;

}

/* Table */

table {
    width: 400px;
    text-align: left;
    margin: 20px 0;
}

caption {
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    border-bottom: dotted 1px;
}

th, td {
    padding: 10px;
}

tr:hover {
    background: #f5f5f5
}

/* Contact Us */

form {
    padding: 10px;
    margin: 10px 0;
    width: 600px;
}

.inline label {
    display: inline-block;
    width: 100px;
}

input[type="text"], input[type="email"], textarea{
    padding: 10px;
    width: 400px;
    }

form > div {
    margin: 10px 10px;
}


